@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #48c9c6;
  font-family: "Press Start 2P", cursive;
  color: whitesmoke;
}

header {
  text-align: center;
}

header .logoImg {
  width: 20em;
  -ms-flex-line-pack: center;
      align-content: center;
}

.function-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

.function-section ul li {
  font-size: 2vmin;
  -webkit-transition: 1s;
  transition: 1s;
}

.function-section ul li a:visited {
  color: white;
}

.function-section ul li img {
  width: 30px;
  vertical-align: middle;
}

.function-section ul li img img:hover {
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.pokemon-finder {
  margin-top: 2%;
}

.pokemon-finder form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemon-finder form label {
  margin-right: 1%;
}

.pokemon-finder form input {
  border-radius: 5px;
}

.pokemon-finder form button {
  margin-left: 0.5%;
  background-color: #00948b;
  color: white;
  border-radius: 5px;
}

.pokedex-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 2%;
          column-gap: 2%;
  margin: 2% 3% 0% 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemon-div {
  background-color: #00948b;
  -webkit-box-shadow: black 1px 1px 2.5px;
          box-shadow: black 1px 1px 2.5px;
  border-radius: 5px;
  text-align: center;
  text-align: center;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5vmax;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.pokemon-div img {
  width: 50vmin;
}

.pokemon-div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.pokemon-div ul .li-type-normal {
  background-color: salmon;
}

.pokemon-div ul .li-type-flying {
  background-color: white;
  color: grey;
}

.pokemon-div ul .li-type-poison {
  background-color: purple;
}

.pokemon-div ul .li-type-rock {
  background-color: brown;
}

.pokemon-div ul .li-type-ghost {
  background-color: grey;
}

.pokemon-div ul .li-type-fire {
  background-color: red;
}

.pokemon-div ul .li-type-electric {
  background-color: yellow;
  color: grey;
}

.pokemon-div ul .li-type-water {
  background-color: blue;
}

.pokemon-div ul .li-type-ice {
  background-color: cyan;
}

.pokemon-div ul .li-type-bug {
  background-color: green;
}

.pokemon-div ul .li-type-grass {
  background-color: greenyellow;
  color: grey;
}

.pokemon-div ul .li-type-psychic {
  background-color: hotpink;
}

.pokemon-div ul .li-type-ground {
  background-color: khaki;
  color: grey;
}

.pokemon-div ul .li-type-fighting {
  background-color: #2b2b74;
}

.pokemon-div ul .li-type-steel {
  background-color: #e2dbdb;
}

.pokemon-div ul .li-type-fairy {
  color: grey;
  background-color: pink;
}

.pokemon-div ul .li-type-dragon {
  background-color: #b62d4f;
}

.pokemon-div:hover {
  -webkit-box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737, 5px 5px #373737, 6px 6px #373737;
          box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737, 5px 5px #373737, 6px 6px #373737;
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.load-data {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-image: url("img/loadData.gif");
  background-size: cover;
  opacity: 0.6;
}
/*# sourceMappingURL=style.css.map */