@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #48c9c6;
  font-family: "Press Start 2P", cursive;
  color: whitesmoke;
}

header {
  text-align: center;

  .logoImg {
    width: 20em;
    align-content: center;
  }
}

.function-section {
  ul {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    list-style: none;

    li {
      font-size: 2vmin;
      transition: 1s;
      a:visited {
        color: white;
      }

      img {
        width: 30px;
        vertical-align: middle;

        img:hover {
          transform: rotateZ(-10deg);
          transition: 1s ease;
        }
      }
    }
  }
}

.pokemon-finder {
  margin-top: 2%;
  form {
    display: flex;
    justify-content: center;
    label {
      margin-right: 1%;
    }
    input {
      border-radius: 5px;
    }
    button {
      margin-left: 0.5%;
      background-color: #00948b;
      color: white;
      border-radius: 5px;
    }
  }
}

.pokedex-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2%;
  margin: 2% 3% 0% 3%;
  justify-content: center;
}

.pokemon-div {
  background-color: #00948b;
  box-shadow: black 1px 1px 2.5px;
  border-radius: 5px;
  text-align: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  margin: 0.5vmax;
  transition: 0.2s ease;
  img {
    width: 50vmin;
  }
  ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    .li-type-normal {
      background-color: salmon;
    }
    .li-type-flying {
      background-color: white;
      color: grey;
    }
    .li-type-poison {
      background-color: purple;
    }
    .li-type-rock {
      background-color: brown;
    }
    .li-type-ghost {
      background-color: grey;
    }
    .li-type-fire {
      background-color: red;
    }
    .li-type-electric {
      background-color: yellow;
      color: grey;
    }
    .li-type-water {
      background-color: blue;
    }
    .li-type-ice {
      background-color: cyan;
    }
    .li-type-bug {
      background-color: green;
    }
    .li-type-grass {
      background-color: greenyellow;
      color: grey;
    }
    .li-type-psychic {
      background-color: hotpink;
    }
    .li-type-ground {
      background-color: khaki;
      color: grey;
    }
    .li-type-fighting {
      background-color: rgb(43, 43, 116);
    }
    .li-type-steel {
      background-color: rgb(226, 219, 219);
    }
    .li-type-fairy {
      color: grey;
      background-color: pink;
    }
    .li-type-dragon {
      background-color: rgb(182, 45, 79);
    }
  }
}
.pokemon-div:hover {
  box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737,
    5px 5px #373737, 6px 6px #373737;
  transform: translateX(-3px);
  transition: 0.5s ease;
}

.load-data {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-image: url("img/loadData.gif");
  background-size: cover;
  opacity: 0.6;
}
